{% extends 'myapp/hr_dashboard.html' %}

<!DOCTYPE html>
<html>
<head>
<title>{% block title %} Register {% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content %}
<br>
<H4>Add new employee </H4><br>
<form action="" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}

    {% if error %}
        <p style="color:red">
           {{ error }}
        </p>
    {% endif %}

    {% if message %}
        <p style="color:blue">
            {{ message }}
        </p><br>
    {% endif %}

    <table>
        {{data.as_table}}
        </table>
        <br>
        <button type="submit" class="btn btn-success">ADD</button>
        <a href="{% url 'employee_list' %}" class="btn btn-warning">Cancel</a>
    </form>
    {% endblock %}
  </body>
</html>