{% extends 'myapp/hr_dashboard.html' %}

<!DOCTYPE html>
<html>
<head>
<title>Change Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% block content %}
  <br>
  <h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}
    <br><br>
    {% if messages %}
      {% for message in messages %}
      <p style="color: red;">
        {{ message }}
      </p>
      {% endfor %}
    {% endif %}

    <table>
    {{ form.as_table }}
    </table>
    <br>
    <button type="submit" class="btn btn-success">Change Password</button>
    <a href="{% url 'profile' %}" class="btn btn-warning">Cancel</a>
  </form>
{% endblock %}
