{% extends 'myapp/hr_dashboard.html' %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %} Employee List {% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
{% block content %}
  <body>
    <div style="text-align:right">
        <a href="{% url 'add_employee' %}" class="btn btn-success">Add new employee</a>
    </div>

    <div style="display: flex; justify-content: center; padding-top:50px">
    <table class="table table-bordered" style="width:60%;  justify-content: center;">
        <thead>
            <tr>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>USERNAME</th>
                <th>EMPLOYEE CODE</th>
                <th>PHONE NUMBER</th>
                <th>IMAGE</th>
                <th colspan=2>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in view %}
            <tr>
                <td>{{i.name }}</td>
                <td>{{i.email }}</td>
                <td>{{i.username }}</td>
                <td>{{i.employee_code }}</td>
                <td>{{i.phone_number }}</td>
                <td><img src="/media/{{i.image}}" alt="{{ i.image.name }}" width=40px height=40px></td>
                <td><a href="/edit/{{i.id}}" class="btn btn-warning">Edit</a>
                <td><a href="/delete/{{i.id}}" class="btn btn-danger">Delete</a>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

{% endblock %}
</html>
